<p> <%= @post.post %> </p>


<% @post.comments.each do |comment| %>
<ul>
  <%= comment.author %>
  <%= comment.comment %>

</ul>
<% end %>


<%= link_to "Comment", new_post_comment_path(@post.id) %>

<%= form_for(@post, method: :delete) do |f| %>
  <%= f.submit "Delete Post", class: "delete" %>
<% end  %>
